.hero-section {
  /* background-image: url('/public/images/stars-bg.jpg'); */
  background-size: cover;
  background-position: center;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  position: fixed;
  top: 0px;
  z-index: -1;
}

.hero-section h1 {
  position: relative;
  bottom: 100px;
}